textarea {
    resize: none;
}

.all-users, .user-blogs {
  width:80%;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-users a, .user-blogs a {
  font-size: 20px;
}
