.sign-in-box{
  background-color: rgba(76, 182, 159, 0.45);
  height: 25em;
  width: 25em;
  margin: 0 auto;
  border-radius: 20%;
  padding: 20px;
  border: 2px dashed white;
  h2 {
    font-family: $layouttext;
    color: grey;
    font-size: 20px;
  }
}
