.main-content-for-signup {
  background-color: #8affc4;
  height: 25em;
  width: 25em;
  margin: 0 auto;
  border-radius: 20%;
  padding: 20px;
  border: 2px dashed white;
  h2 {
    font-family: $layouttext;
    color: grey;
    font-size: 20px;
  }
}
