




<form class="blog-edit" action="/blog_edit/<%= @blog.id %>" method="post">
  <div> <input type="text" name="title" value="<%= @blog.title %>"></div>


  <div><textarea name="content" rows="6" cols="20" maxlength="150"><%= @blog.content %></textarea></div>
  <input type="hidden" name="blog_id" value="<%= @blog.id %>">
  <input type="submit">
</form>
