




<form class="blog-edit-title" action="/blog-edit" method="post">
  <input type="text" name="title" value="<%= @blog.title %>">
  <input type="hidden" name="blog_id" value="<%= @blog.id %>">
  <input type="submit">
</form>

<form class="blog-edit-content" action="/blog-edit" method="post">

  <textarea name="content" rows="6" cols="20" maxlength="150"value="<%= @blog.content %>"></textarea>
  <input type="hidden" name="blog_id" value="<%= @blog.id %>">
  <input type="submit">
</form>
