
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Book</title>
  </head>
  <body>
    <div class="header">
        <h1> Ian-Book </h1>
        <div class="imageforlayout" id="imageForLayout"></div>

    </div>
    <div class="sideNavBar" id="navBar">
      <ul>
        <a href="/profile"><li>Profile</li></a>
        <a href="/blogs"><li>Blogs</li></a>
        <a href="/logout"><li>Logout</li></a>
      </ul>
    </div>
    <div class="min-height">
    <%= yield %>
    </div>
    <div class="footer">
        <div> Founded 2017 The IanBook Comapny </div>
    </div>
    <script type="text/javascript" src="/javascript/script.js"></script>
  </body>
</html>
