
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <title>Ian Book</title>
  </head>
  <body>
    <div class="header">
        <h1> Ian-book </h1>
        <div class="imageforlayout"></div>
    </div>

    <%= yield %>

    <div class="footer">
        <div> Founded 2017 The IanBook Comapny </div>
    </div>
  </body>
</html>
