<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Ian Book</title>
  </head>
  <body>
    <div class="header">
        <h1> Ian-book </h1>
    </div>

    <%= yield %>

    <div class="footer">
        <div> Made with love and care By Ian </div>
    </div>
  </body>
</html>
