<h2>Welcome,  <%= @user.username %></h2>

<% @blogs.each do |blog| %>

<a href="/blog/<%= blog.id %>"><div><%= blog.title %></div></a>


<% end %>


<div>

</div>

<h2>Make New Blog</h2>
<form class="blog-input-form" action="/profile" method="post">
  <input type="text" name="title" placeholder="Blog Title">
  <div><textarea name="content" placeholder="(less than 150 characters)" rows="8" cols="20"></textarea> </div>
  <input type="hidden" name="user_id" value= "<%= session[:user_id] %>">
  <input type="submit">
</form>
